body {
    background-color: lightblue;
}
#heading {
    margin-top: 0px;
    padding: 10px;
    background-color: cornflowerblue;
}
#startButton {
    padding: 5px;
    background-color: lightgreen;
    border: lightcyan, solid, 1px;
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px
    
}
#timer {
    float: right;
    color: black;
    cursor: pointer;
    font-size: x-large;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
    

  
}
#title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
    
}
/*#quizContainer {
        width:;
        margin:;
        padding:;
        background-color:;
        border:;
        border-radiur:;
        color:;
        font-weight:;
        box-shadow:;
    
}
#nextQuest {
    position: relative;
    float:right;
}*/