body {
    background-color: rgb(252, 251, 249);
}
header {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(252, 251, 249);
}
#home {
    text-align: center;
    font-weight:20px ;
}
#timer {
    float: right;
    color: black;
    font-size: large;
    line-height: 16px;
    padding: 20px 52px;
    text-align: center;
}
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 50px; 
    margin: 20px;  
}

#scoreBoard {
    position: relative;
    float:right;
}